# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chris Wynne
	email = christopher.wynne@digital.cabinet-office.gov.uk
  signingkey = "0x3F39649334A4B606"
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[push]
	default = simple
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/christopherwynne/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[fetch]
    # Remove deleted branches on fetch
    prune = true
[color]
    # Color command output when appropriate
	ui = true
[merge]
	conflictstyle = diff3
[pager]
	branch = false
[commit]
	gpgsign = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = false
